<%- contentFor('inner-view') %> 
<h2><%= product.productName %> </h2>
<p>
    <%= product.description %>
    <form method="post" action="">
        <button type="submit"> zum Warenkorb hinzufügen</button>
    </form>
    <br>


    <div>
        <img src="/images/<%= product.imageName %>" >

    </div>





</p>
