<!DOCTYPE html>
<html lang="en">
<title>Kampf der Diener- Kartenshop</title>


    <!-- Head Part -->





    <!-- Body Part -->
    <body>
    <div>
        <div>
            <img src="/images/kampf_der_diener.jpg"/>
        </div>    
        <div>    
            <h1>
                <a href="/">
                    Kampf der Diener - Kartenshop
                </a> 
            </h1>
        </div>
    </div>      
        <!-- Inner View -->
        <%- defineContent('inner-view') %>





    </body>




    <!-- Footer Part -->


</html>